<h2>WireSize Calculator</h2>
<form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="wireSizeCalForm">
  <fieldset>
    <!--Form group for WireSize Start-->

    <!--<div class="form-group" [ngClass]="{'has-error': (wireSizeCalForm.get('WireSize').touched || 
                                              wireSizeCalForm.get('WireSize').dirty) &&
                                              !wireSizeCalForm.get('WireSize').valid }">

            <label for="WireSizeId" class="col-md-2 control-label">WireSize
                  </label>
            <div class="col-md-8"><input type="text" class="form-control" id="WireSizeId" placeholder="WireSize" formControlName="WireSize" />
              <span class="help-block" *ngIf="(wireSizeCalForm.get('WireSize').touched || 
                                                         wireSizeCalForm.get('WireSize').dirty) && 
                                                         wireSizeCalForm.get('WireSize').errors">
              <span class="help-block" *ngIf="formErrors.WireSize">
                          {{ formErrors.WireSize }}
            </span>

              </span>
            </div>
          </div>-->

    <div class="form-group">
        <label for="WireSizeId" class="col-md-2 control-label"> Wire Size:
          <select class="form-control" formControlName="WireSize">
              <option *ngFor="let demo of ohmkft" [value]="demo">{{demo.Wire_size}}</option>
          </select>
        </label>
      </div>


    <!--Form group for WireSize End-->

    <!--Form group for Voltage Start-->


    <div class="form-group" [ngClass]="{'has-error': (wireSizeCalForm.get('voltage').touched || 
                                              wireSizeCalForm.get('voltage').dirty) &&
                                              !wireSizeCalForm.get('voltage').valid }">
      <label for="voltageId" class="col-md-2 control-label">Voltage
              </label>
      <div class="col-md-8">
        <input type="text" class="form-control" id="voltageId" placeholder="Voltage" formControlName="voltage">
        <span class="help-block" *ngIf="(wireSizeCalForm.get('voltage').touched || 
                                                         wireSizeCalForm.get('voltage').dirty) && 
                                                         wireSizeCalForm.get('voltage').errors">
                           <span class="help-block" *ngIf="formErrors.voltage">
                          {{ formErrors.voltage }}
            </span>

        </span>
      </div>
    </div>

    <!--Form group for Voltage End-->
    <!--Form group for current Start-->
    <div class="form-group" [ngClass]="{'has-error': (wireSizeCalForm.get('current').touched || 
                                              wireSizeCalForm.get('current').dirty) &&
                                              !wireSizeCalForm.get('current').valid }">

      <label for="firstNameId" class="col-md-2 control-label">Current
                  </label>
      <div class="col-md-8"><input type="text" class="form-control" id="firstNameId" placeholder="current" formControlName="current" />
        <span class="help-block" *ngIf="(wireSizeCalForm.get('current').touched || 
                                                         wireSizeCalForm.get('current').dirty) && 
                                                         wireSizeCalForm.get('current').errors">
                           <span class="help-block" *ngIf="formErrors.current">
                          {{ formErrors.current }}
            </span>

        </span>
      </div>
    </div>

    <!--Form group for current End-->
    <hr>
  </fieldset>
  <!--Form submit buttons start-->
  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      <span>
                      <button class="btn btn-primary" type="submit">Save</button>
                      </span>
      <span>
                      <button class="btn btn-primary" 
                              type="button"
                              (click)="populateTestData()">Test Data</button>
                      </span>
      <span>
                      <button class="btn btn-primary" 
                              type="button"
                              (click)="clearTestData()">Clear Data</button>
                      </span>


    </div>
  </div>
   <!--Form output for development start-->
<br>Dirty:{{wireSizeCalForm.dirty}}
<br>Touched: {{wireSizeCalForm.touched}}
<br>Pristin: {{wireSizeCalForm.pristine}}
<br>Valid:{{wireSizeCalForm.valid}}
<br>{{wireSizeCalForm.distance}}
<br>[formval]: {{wireSizeCalForm.value |json}}
<br>FormValues:{{wireSizeCalForm.get('WireSize')}}-->
<!--
<!--Form output for development end-->
</form>