<div class="container ">
  <h2 class="dontprint">Voltage Drop Calculator</h2>
  <div class="panel panel-primary">
    <div class="panel-heading">

    </div>
    <div class="panel-body dontprint">
      <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="voltageDropCalForm">
        <fieldset>
          <!--Form group for Distance Start-->
          <div class="form-group" [ngClass]="{'has-error': (voltageDropCalForm.get('distance').touched || 
                                              voltageDropCalForm.get('distance').dirty) &&
                                              !voltageDropCalForm.get('distance').valid }">

            <label for="firstNameId" class="col-md-2 control-label">Distance
                  </label>
            <div class="col-md-8"><input type="text" class="form-control" id="firstNameId" placeholder="Distance" formControlName="distance" />
              <span class="help-block" *ngIf="(voltageDropCalForm.get('distance').touched || 
                                                         voltageDropCalForm.get('distance').dirty) && 
                                                         voltageDropCalForm.get('distance').errors">
              <span class="help-block" *ngIf="formErrors.distance">
                          {{ formErrors.distance }}
            </span>

              </span>
            </div>
          </div>
          <!--Form group for Distance End-->

          <!--Form group for Voltage Start-->
          <div class="form-group" [ngClass]="{'has-error': (voltageDropCalForm.get('voltage').touched || 
                                              voltageDropCalForm.get('voltage').dirty) &&
                                              !voltageDropCalForm.get('voltage').valid }">
            <label for="voltageId" class="col-md-2 control-label">Voltage
              </label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="voltageId" placeholder="Voltage" formControlName="voltage">
              <span class="help-block" *ngIf="(voltageDropCalForm.get('voltage').touched || 
                                                         voltageDropCalForm.get('voltage').dirty) && 
                                                         voltageDropCalForm.get('voltage').errors">
                           <span class="help-block" *ngIf="formErrors.voltage">
                          {{ formErrors.voltage }}
            </span>

              </span>
            </div>
          </div>

          <!--Form group for Voltage End-->
          <!--Form group for current Start-->
          <div class="form-group" [ngClass]="{'has-error': (voltageDropCalForm.get('current').touched || 
                                              voltageDropCalForm.get('current').dirty) &&
                                              !voltageDropCalForm.get('current').valid }">

            <label for="firstNameId" class="col-md-2 control-label">Current
                  </label>
            <div class="col-md-8"><input type="text" class="form-control" id="firstNameId" placeholder="current" formControlName="current" />
              <span class="help-block" *ngIf="(voltageDropCalForm.get('current').touched || 
                                                         voltageDropCalForm.get('current').dirty) && 
                                                         voltageDropCalForm.get('current').errors">
                           <span class="help-block" *ngIf="formErrors.current">
                          {{ formErrors.current }}
            </span>

              </span>
            </div>
          </div>

          <!--Form group for current End-->
          <hr>
        </fieldset>
          <!--Form submit buttons start-->
        <div class="form-group">
          <div class="col-md-6 col-md-offset-2">
            <span>
                      <button class="btn btn-primary" type="submit">Save</button>
                      </span>
            <span>
                      <button class="btn btn-primary" 
                              type="button"
                              (click)="populateTestData()">Test Data</button>
                      </span>
            <span>
                      <button class="btn btn-primary" 
                              type="button"
                              (click)="clearTestData()">Clear Data</button>
                      </span>


          </div>
        </div>
  <!--Form submit buttons end-->
      </form>
    </div>
  </div>
  <!--Form output for development start-->

  <div class='.container'>
    <table class='table table-hover' *ngIf='voltageDropCalForm.valid'>

      <thead>
        <tr>
          <th>Wire Size</th>
          <!--<th>ohm_kft</th>-->
          <!--<th>Voltage Drop</th>-->
          <th>Voltage Drop % (Cu)</th>
          <th>Voltage Drop % (Al)</th>

        </tr>
      </thead>
      <tbody>
        <!--<tr *ngFor='let vol of voltageDropCalForm.value |userObjArray:distance '>-->
        <tr *ngFor='let vol of ohmkft '>
          <td>{{ vol.Wire_size }}</td>
          <!--<td>{{ vol.ohm_kft }}</td>-->
          <!--<td>
            <voltage-drop [vd]=true [ohmkft]='vol.ohm_kft_cu' [current]="voltageDropCalForm.get('current').value" [distance]="voltageDropCalForm.get('distance').value"
              [voltage]="voltageDropCalForm.get('voltage').value"></voltage-drop>
          </td>-->
          <td>
            <voltage-drop [vd]=false [ohmkft]='vol.ohm_kft_cu' [current]="voltageDropCalForm.get('current').value" [distance]="voltageDropCalForm.get('distance').value"
              [voltage]="voltageDropCalForm.get('voltage').value"></voltage-drop>
          </td>
          <td>
            <voltage-drop [vd]=false [ohmkft]='vol.ohm_kft_al' [current]="voltageDropCalForm.get('current').value" [distance]="voltageDropCalForm.get('distance').value"
              [voltage]="voltageDropCalForm.get('voltage').value"></voltage-drop>
          </td>
        </tr>
        <!--Form output for development start-->
        <!--<br>Dirty:{{voltageDropCalForm.dirty}}
      <br>Touched: {{voltageDropCalForm.touched}}
      <br>Pristin: {{voltageDropCalForm.pristine}}
      <br>Valid:{{voltageDropCalForm.valid}}
      <br>{{voltageDropCalForm.distance}}
      <br>[formval]: {{voltageDropCalForm.value |json}}
      <br>FormValues:{{voltageDropCalForm.get('distance').value}}
        {{voltageDropCalForm.status | json}}-->
        <!--Form output for development end-->
      </tbody>
    </table>
  </div>





  <!--<br>FormValues:{{voltageDropCalForm.get('distance').value}}-->


</div>